<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-padding ion-no-margin">
    <ion-title>About Me</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="main">
    <img src="assets/img.jpeg" class="img" alt>
    <span class="name">Shehryar Saleem</span>
    <span class="role">(Ionic Mobile App Developer)</span>
    <span class="desc">
      I've been working on Ionic Platform for about 4 years now. <br><br>
      
      <b>SDSol Technologies</b>:<br>
      Built hybrid mobile apps using Ionic framework and React-Native.<br>
      Worked on features like Apple Pay, In-App Purchases, and Deep Linking for
      mobile apps. <br><br>


      <b>CodeNinja Consulting</b>:<br>
      Developed hybrid mobile apps with Ionic framework.<br>
      Integrated Google Maps and Direction Service for location-based features.<br>
      Designed apps using React-Native and Angular for web and mobile platforms. <br><br>


      <b>Codexia Technologies</b>:<br>
      Specialized in Ionic framework, working across different versions.<br>
      Integrated Firebase for real-time database, push notifications, and cloud
      functions.<br>
      Added video and audio calling features using WebRTC and ApiRTC.<br>
      Built Progressive Web Apps (PWAs) with Ionic and Angular dashboards. <br><br>


      <b>TechDot Data</b>:<br>
      Developed full-stack solutions, including hybrid mobile apps with Ionic
      framework.<br>
      Implemented social login and Stripe payments in Ionic apps.<br>
      Built an e-commerce app using Ionic framework.<br>
    </span>
  </ion-grid>
</ion-content>
