ion-content {
    --padding-start: 20px;
    --padding-end: 20px;

    .outerDiv {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .mainGrid {
            background: rgb(197, 197, 197);
            border-radius: 10px;
            padding: 20px;
            .heading{
                font-size: 25px;
                color: var(--ion-color-primary);
                font-weight: 700;
                justify-content: center;
            }
            .buttonRow{
                margin-top: 10px;
                ion-button{
                    width: 100%;
                }
            }
        }
    }
}